<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<!-- 
	<filter>
		<filter-name>CrossDomainFilter</filter-name>
		<filter-class>com.gameforge.hex.publicapi.filters.CrossDomainFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CrossDomainFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->

	<servlet>
	    <!-- jersey 2.x config, won't work /w 1.x -->
		<servlet-name>RESTServlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param> <!-- where to look for resources -->
			<!-- <param-name>com.sun.jersey.config.property.packages</param-name>  -->
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.nightspawn.stackexample</param-value>
		</init-param>
		<init-param> <!-- automatically map POJOs -->
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.gameforge.hex.publicapi.filters.OAuthFilter</param-value>
		</init-param>
		-->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 
	<servlet>
		<servlet-name>JerseyJaxrsConfig</servlet-name>
		<servlet-class>com.wordnik.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>https://dev.hexdev.gfsrv.net/publicapi</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	 -->

	<servlet-mapping>
		<servlet-name>RESTServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>
